.categories-wrapper {
  padding: 30px 15px;
  background: #f1f3f6;
}

.categories-title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 700;
}

/* GRID */
.categories-grid {
  max-width: 1200px;
  margin: auto;

  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
}

/* CARD */
.cat-card {
  background: white;
  padding: 18px 10px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.04);
}

.cat-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 5px 14px rgba(0,0,0,0.15);
}

/* IMAGE */
.cat-img {
  width: 62px;
  height: 62px;
  object-fit: contain;
  margin-bottom: 8px;
}

.cat-card p {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
}

/* RESPONSIVE */

/* mobile */
@media (max-width: 600px) {
  .categories-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
  }

  .cat-card {
    padding: 16px 8px;
  }
}

/* tablet */
@media (min-width: 601px) and (max-width: 1024px) {
  .categories-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* desktop */
@media (min-width: 1025px) {
  .categories-grid {
    grid-template-columns: repeat(8, 1fr);
  }
}
